language: php

php:
    - 7.1
    - 7.2
    - 7.3

matrix:
    allow_failures:
        - php: nightly
    include:
        - php: 7.1
          env: DEPENDENCIES=lowest
        - php: nightly
          env: PLATFORM_REQUIREMENTS=--ignore-platform-reqs

before_script:
    - travis_retry composer self-update
    - travis_retry composer install --no-interaction $PLATFORM_REQUIREMENTS
    - if [ "$DEPENDENCIES" = "lowest" ]; then travis_retry composer update --prefer-lowest --prefer-stable --no-interaction; fi;

script:
    - make travis

after_success:
    - bash <(curl -s https://codecov.io/bash)

cache:
    directories:
        - $HOME/.composer/cache
