sudo: false

language: php

php:
    - 5.6
    - 7.0
    - 7.1
    - 7.2
    - nightly

dist: trusty

matrix:
    allow_failures:
        - php: nightly
    include:
        - php: 7.0
          env: DEPENDENCIES=lowest

before_script:
    - travis_retry composer self-update
    - travis_retry composer install --no-interaction
    - if [ "$DEPENDENCIES" = "lowest" ]; then travis_retry composer update --prefer-lowest --prefer-stable --no-interaction; fi;

script:
    - make travis

after_success:
    - bash <(curl -s https://codecov.io/bash)

cache:
    directories:
        - $HOME/.composer/cache
